## 1. 변수(Variable)

* 임시 기억(저장) 공간 : 데이터를 보관하는 공간(메모리)
 * 주기억장치에 저장
   * 주기억장치 : 메모리(램)
     * 휘발성
   * 보조기억장치 : 하드디스크, USB
     * 비휘발성
   * 실제 데이터 사용 시 보조기억장치에 있는 메모리를 주기억장치에 옮김 > CPU가 수행하기 때문
   
* 별도의 절차(선언) 없이 사용 가능
    * 메이저 언어(java, c, c++)에 비해 단순하게 사용 가능

* 데이터 타입을 가리지 않음
    * 데이터가 저장될 때 타입이 정해짐
    
* 값을 수정할 수 없음

In [25]:
a = 10 #assignment
a 

a = 20
a #변수는 바뀔 수 있다는 것

20

In [26]:
var1 = 30

var1

30

In [27]:
a = 3.14
a #정수가 아닌 실수, 문자 등 저장 가능

3.14

In [28]:
b = "파이썬"
b

'파이썬'

In [29]:
a = 10
print(a) #출력내용을 계속 확인 가능
print(type(a)) #자료의 형식(타입)을 알려주는 함수
print('\n' + '-' * 85 + '\n')

a= 3.14
print(a)
print(type(a))
print('\n' + '-' * 85 + '\n')

a= "홍길동"
print(a)
print(type(a))

10
<class 'int'>

-------------------------------------------------------------------------------------

3.14
<class 'float'>

-------------------------------------------------------------------------------------

홍길동
<class 'str'>

#### 값 수정 불가

In [14]:
a = 10
print(a)
print('\n' + '-' * 85 + '\n')

print(id(a)) # a의 주소값 확인
print('\n' + '-' * 85 + '\n')

a= 11
print(a)
print('\n' + '-' * 85 + '\n')

print(id(a))

# 실제로 a에는 10이 아닌 10의 주소값 저장.
# 즉 a=10 이후 a=11을 했을 때 값이 수정된 게 아니라 새로운 값이 생긴 것.
# a가 가진 주소값이 변경된 것.
# a를 출력했을 때 다시 10이라는 데이터를 가져올 수 있는가? 없다.
# 주소를 잃어버렸기 때문. 10은 쓰레기값이 되는 것.
# 다시 a=10을 입력하면 10의 주소값을 가져올 수 있음.

10

-------------------------------------------------------------------------------------

140727153566384

-------------------------------------------------------------------------------------

11

-------------------------------------------------------------------------------------

140727153566416

---

# 2. 자료형(Data Type)

* 종류
    * 기본 자료형 : 데이터를 하나씩 저장할 수 있는 것. 수정 불가. 단일 데이터 저장
        * 숫자형(Number) : int, float
        * 문자형 : str
        * 논리형 : bool (참/거짓 구분) 
        * 그 외 : complex(복소수), function
        
    * 집합(iter) 자료형 : 복잡한 데이터 저장
        * list
        * tuple
        * dict
        * set

## 1) 기본 자료형
### 문자형

In [9]:
# 문자열

a = 'a'
a = 'ab'
a = 'abc'

print(a)
print('\n' + '-' * 85 + '\n')

# 다른 타입끼리 연산자 불가능 > 타입을 똑같이 해야 함

a = 'a' + str(10) # str(10) : 10을 문자로 변환
print(a)
print('\n' + '-' * 85 + '\n')

# + : 연결 연산자 / * : 반복 연산자

# 여러 줄 문자를 쓰게 될 땐 """ """ or ''' '''사용 > 엔터 눌러도 여러 줄 입력 가능

b = '''abcdefg
hijklmnn
opqrstu'''

print(b)

abc

-------------------------------------------------------------------------------------

a10

-------------------------------------------------------------------------------------

abcdefg
hijklmnn
opqrstu

#### 특수(제어) 문자

In [10]:
a = '안녕하세요 반갑습니다.'
print(a)
print('\n' + '-' * 85 + '\n')


b = '안녕하세요\n반갑습니다' # \n : 엔터(줄바꿈)
print(b)
print('\n' + '-' * 85 + '\n')


c = '안녕하세요\t반갑습니다' # \t : tab
print(c)
print('\n' + '-' * 85 + '\n')


# escape 문자 \ : 특수한 기능을 해제

d = '\t는 탭키의 기능입니다.'
print(d) # \t 출력 안 됨

e = '\\t는 탭키의 기능입니다.'
print(e) # \t 출력
print('\n' + '-' * 85 + '\n')

# 따옴표도 출력하고 싶을 때 : \' or \"
n = '\"\\n은 엔터키 기능이다.\"'
print(n)

안녕하세요 반갑습니다.

-------------------------------------------------------------------------------------

안녕하세요
반갑습니다

-------------------------------------------------------------------------------------

안녕하세요	반갑습니다

-------------------------------------------------------------------------------------

	는 탭키의 기능입니다.
\t는 탭키의 기능입니다.

-------------------------------------------------------------------------------------

"\n은 엔터키 기능이다."

#### Index

In [3]:
# Indexing : 원하는 문자를 알아낼 때 사용
## 맨 앞글자 위치 : 0 / 거꾸로 셀 때는 -1부터 시작
## 공백도 문자에 포함
### 인덱스 함수 : a[]

a = 'Life is too short, You need Python'
print(a[10])
print(a[-1]) # 맨 마지막 위치 출력
print(a[-2])

print(a[8], a[9], a[10]) # 여러 문자를 따로따로 한 번에 출력
print(a[8] + a[9] + a[10]) # 8~10번째 문자 하나씩 출력해서 묶는 것

o
n
o
t o o
too

#### Slice

In [4]:
# Slicing : Index 확장판
## a[m:n] : m번째부터 n-1번째까지 출력

print(a[8:11]) # 8~10번째 문자 출력 : a[첫번째 원하는 위치, 마지막 원하는 위치+1]
print('\n' + '-' * 85 + '\n')

## 첫 번째, 맨 마지막 위치 생략 가능
print(a[:4]) # 0번째부터 3번째까지 출력
print(a[8:])
print(a[-3:-1])

too

-------------------------------------------------------------------------------------

Life
too short, You need Python
ho

#### 기본 자료형 수정 불가

In [16]:
str1 = 'pithon'
print(str1)
#str1 = 'python' : 수정된 게 아니라 다른 주소에 새로운 데이터가 들어간 것

#str1[1] = 'y' : 직접 위치에 가서 변경해야 하지만 에러가 뜸. 변경 불가.
str2 = str1[:1] + 'y' + str1[2:] # 수정된 것이 아니라 틀린 글자를 새로 만든 것
print(str2)

pithon
python

#### len() : 문자 개수 = 문자열 전체 길이

In [17]:
## len(a)
a = 'Life is too short, You need python'
print(len(a)) # 1부터 셈. 문자 주소는 0부터 시작. 마지막 문자 주소 입력시 n-1
print(a[len(a)-1]) # print(a[33]), print(a[-1])과 같음

34
n

#### count() : 앞에 문자열을 지정해줘야 함, 지정 글자의 개수 출력

In [18]:
## a.count('문자')
print(a.count('o')) # o의 개수
print(a.count(' ')) # 공백의 개수

5
6

#### find() : 내가 찾고자하는 문자가 있는지. 있으면 몇 번째인지

In [19]:

## a.find('문자')
## if. 문자를 찾지 못 했을 때 -1 출력
print(a.find('too')) # too라는 문자가 몇 번째에 있는지
print(a.find('java'))

8
-1

#### index() : find()와 유사. 내가 찾는 문자가 몇 번째에 위치하는지.

In [21]:
## a.index('문자')
## if, 문자를 찾지 못 했을 때 Error
print(a.index('python')) # python라는 문자가 몇 번째에 있는지
# print(a.index('java')) : 찾을 수 없으므로 에러 출력

28

#### join() : 문자열 삽입

In [22]:

## '삽입할 문자'.join('문자열')
str1 = 'abcde'
print(str1)
print(','.join(str1)) # str1 문자 사이에 ',' 삽입

abcde
a,b,c,d,e

#### split() : 문자열 나누기

In [23]:
## a.split('나눌 기준')
str2 = ','.join(str1)
print(str2)
print(str2.split(',')) # ','을 기준으로 str2 분리

print('\n' + '-' * 85 + '\n')

str3 = '홍길동 임꺽정 신돌석 유비 관우 장비'
print(str3)
print(str3.split()) # 공백은 " " 또는 아무것도 입력 안 하는 걸로 표현 가능

a,b,c,d,e
['a', 'b', 'c', 'd', 'e']

-------------------------------------------------------------------------------------

홍길동 임꺽정 신돌석 유비 관우 장비
['홍길동', '임꺽정', '신돌석', '유비', '관우', '장비']

#### 문자열 제거 : lstrip(), rstrip(), strip()

In [25]:
## lstrip() : 왼쪽 문자 제거
## () 안에 따로 설정 안 하면 공백 제거
### a.lstrip('지우고 싶은 문자')
str1 = "      python"
print(str1)
print(str1.lstrip()) # 공백 제거
print('\n' + '-' * 85 + '\n')

## rstrip() : 오른쪽 문자 제거
## () 안에 따로 설정 안 하면 공백 제거
### a.rstrip('지우고 싶은 문자')
str2 = "python?"
print(str2)
print(str2.rstrip('?'))

## strip() : 양쪽 문자 제거
## () 안에 따로 설정 안 하면 공백 제거
### a.strip('지우고 싶은 문자')

      python
python

-------------------------------------------------------------------------------------

python?
python

#### 바꾸기 : replace(), translate(.maketrans())

In [26]:
## replace() : 문자열 변경
### a.replace('원래 문자열', '바꿀 문자열')
str1 = '''Hello, World!'''
print(str1)
str2 = str1.replace('World', 'Python')
print(str2)
print('\n' + '-' * 85 + '\n')

## translate(maketrans()) : 중간 특정 문자열 변경
### a.translate(a.maketrans('바꾸고 싶은 문자열', '바꿀 문자열'))
str3 = '일이삼사오육칠팔구'
print(str3)
print(str3.replace('일삼오', '135')) # 변경 불가
print(str3.translate(str3.maketrans('일삼오', '135'))) # 일삼오가 135로 변경

Hello, World!
Hello, Python!

-------------------------------------------------------------------------------------

일이삼사오육칠팔구
일이삼사오육칠팔구
1이3사5육칠팔구

#### 문자열 포매팅 : 문자열 안의 특정값을 바꾸는 것 (p.62 ~)

In [7]:
## a.format(num1, num2, 결과값 수식)

# Q.'덧셈 결과 : 3 + 4 = 7'와 같이 출력하고 싶을 때

print('덧셈 결과 : 3 + 4 = 7') # 고정되어있기 때문에 수가 바뀌면 매번 수정해야 함
print('\n' + '-' * 85 + '\n')

num1, num2 = '가', '나' # num1에 3, num2에 4 할당

### {} : placeorder. 변수 자리만 지정
### {0} : 0번째
### format() 안의 수 자리가 대입되는 자리와 같을 때 순서를 안 정해줘도 됨

print( '덧셈 결과 : {0} + {1} = {2}'.format(num1, num2, num1+num2))
# = print('덧셈 결과 : {} + {} = {}'.format(num1, num2, num1+num2)
# num1에 어떤 타입이 들어와도 상관 없음
print('\n' + '-' * 85 + '\n')

## % 사용 방법 (타입 지정 : p.59)
num3, num4 = 10, 15
print('덧셈 결과 : %d + %d = %d' %(num3, num4, num3+num4)) # %d : 정수가 와야 함

덧셈 결과 : 3 + 4 = 7

-------------------------------------------------------------------------------------

덧셈 결과 : 가 + 나 = 가나

-------------------------------------------------------------------------------------

덧셈 결과 : 10 + 15 = 25

---

## 2) 집합 자료형
### (1) list

* 임의의 객체를 순차적으로 저장하는 집합적 자료형
* 각 값에 대해서 인덱스가 부여됨
* 수정 가능
* [ ]를 사용

In [5]:
n1, n2, n3, n3, n4 = 1, 3, 5, 7, 9
n = [1, 3, 5, 7, 9]

print(type(n1))
print(type(n))
print(n[0], n[1], n[2])

<class 'int'>
<class 'list'>
1 3 5

In [12]:
# 서로 다른 자료형을 하나로 묶을 수 있다.(모든 타입 입력 가능)
a = [10, 20, 3.14, True, False, '홍길동'] # True, False는 bool형
print(a) 
print('\n' + '-' * 85 + '\n')

#수정이 가능하다
a[1] = 200
print(a)

[10, 20, 3.14, True, False, '홍길동']

-------------------------------------------------------------------------------------

[10, 200, 3.14, True, False, '홍길동']

In [30]:
# indexing : 특정 위치에 있는 데이터에 접근하는 방법

a = [10, 20, 3.14, True, False, '홍길동']
print(a) # 데이터를 꺼내온 것이 아님. index를 통해 꺼내옴
print(a[0], a[1], a[2])

b = [10, 20, 30, ['a', 'b', 'c']] # 복잡한 데이터도 처리 가능
print(b[0], b[3])
print(b[3][1])

[10, 20, 3.14, True, False, '홍길동']
10 20 3.14
10 ['a', 'b', 'c']
b

In [37]:
# slicing

print(a[1:5])
print(a[1:5][1])

# b에 있는 데이터들 중 'b'와 'c' 출력
print(b[3][1:])

[20, 3.14, True, False]
3.14
['b', 'c']

#### list 연산

In [51]:
a = [1, 2, 3]
b = [4, 5, 6, 7, '홍길동']
print(a+b) # 데이터 연결

print(a*3) # 데이터 반복

[1, 2, 3, 4, 5, 6, 7, '홍길동']
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [52]:
# 복사(얕은 복사, 깊은 복사) (p.108 ~)
## 얕은 복사

a = [1, 2, 3, 4, 5]
print(a)
b = a # b에 a를 할당 = a를 복사. a의 데이터를 넘긴 것이 아님 a 데이터의 주소 복사
b[0] = 10
print(a)
print(b)
print('\n' + '-' * 85 + '\n')

## 깊은 복사

c = a[:] # 전체 데이터의 주소 복사
print(c)
c[0] = 100
print('a', a)
print('b', b)
print('c', c)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

-------------------------------------------------------------------------------------

[10, 2, 3, 4, 5]
a [10, 2, 3, 4, 5]
b [10, 2, 3, 4, 5]
c [100, 2, 3, 4, 5]

#### list 만들기

In [55]:
a = [1, 2, 3, 4]
b = []
c = list()

print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

-------------------------------------------------------------------------------------

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 #### range(초기값, 최종값+1, 증가값) : 설정한 범위만큼 순서대로 데이터 생성

In [59]:
v = list(range(10)) # 0부터 10개의 수
print(v)
print('\n' + '-' * 85 + '\n')

print(list(range(10)))
print('\n' + '-' * 85 + '\n')

print(list(range(5,12))) # 5부터 11까지

print('\n' + '-' * 85 + '\n')

print(list(range(0, 11, 2))) # 0부터 10까지 2씩 증가

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

-------------------------------------------------------------------------------------

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

-------------------------------------------------------------------------------------

[5, 6, 7, 8, 9, 10, 11]

-------------------------------------------------------------------------------------

[0, 2, 4, 6, 8, 10]

#### 삽입, 추가 : insert(), append(), extend()

In [69]:
# a.append(값) : 맨 뒤에 값 추가

a = []
a.append(10)
a.append(20)
a.append(30)
print(a)
print('\n' + '-' * 85 + '\n')

a.append([31, 32, 33]) # 맨 끝에 2차원으로 값 여러 개 추가, 단 [ ]로 묶어주어야 함
print(a)
print('\n' + '-' * 85 + '\n')

# a.insert(위치, 값) : 원하는 위치에 값 추가
a.insert(0, 5)
print(a)

a.insert(2,15)
print(a)
print('\n' + '-' * 85 + '\n')

# a.extend() : 맨 끝에 1차원으로 값 여러 개 추가
a.extend([34, 35, 36])
print(a)

# 연산자로 값 추가 가능
a = a + [37, 38] # extend()와 같음
print(a)

[10, 20, 30]

-------------------------------------------------------------------------------------

[10, 20, 30, [31, 32, 33]]

-------------------------------------------------------------------------------------

[5, 10, 20, 30, [31, 32, 33]]
[5, 10, 15, 20, 30, [31, 32, 33]]

-------------------------------------------------------------------------------------

[5, 10, 15, 20, 30, [31, 32, 33], 34, 35, 36]
[5, 10, 15, 20, 30, [31, 32, 33], 34, 35, 36, 37, 38]

#### 정렬 : sort(), reverse()

In [72]:
# a.sort() : 오름차순으로 정렬
a = [1, 4, 3, 2]
print(a)
a.sort()
print(a)

print('\n' + '-' * 85 + '\n')

# a.reverse() : 뒤집는 것 -> 리스트를 내림차순으로 정렬하고 싶을 때 sort() 이후 사용
b = [2,7,4,5]
print(b)
b.sort()
print(b)
b.reverse()
print(b)

[1, 4, 3, 2]
[1, 2, 3, 4]

-------------------------------------------------------------------------------------

[2, 7, 4, 5]
[2, 4, 5, 7]
[7, 5, 4, 2]

#### 삭제

In [79]:
# 범위 지정 삭제
a = [1, 2, 3, 1, 2, 3]
print(a)
a[1:3] = []
print(a)

print('\n' + '-' * 85 + '\n')

a = [1, 2, 3, 1, 2, 3]
print(a)
a[:] = [] # 전체 데이터 삭제 - 리스트 메모리는 남음
print(a)

print('\n' + '-' * 85 + '\n')

# remove(삭제 값)
a = [1, 2, 3, 1, 2, 3]
print(a)
a.remove(3) # 첫 번째로 나오는 3을 삭제
print(a)

print('\n' + '-' * 85 + '\n')

# del a[] : 인덱스나 슬라이스를 이용해서 삭제
a = [1, 2, 3, 1, 2, 3]
print(a)
del a[3] # 주소 3에 들어있는 데이터 삭제
print(a)

print('\n' + '-' * 85 + '\n')

a = [1, 2, 3, 1, 2, 3]
print(a)
del a # 전체 데이터 삭제 - 메모리까지 완전 삭제. print(a)하면 에러

[1, 2, 3, 1, 2, 3]
[1, 1, 2, 3]

-------------------------------------------------------------------------------------

[1, 2, 3, 1, 2, 3]
[]

-------------------------------------------------------------------------------------

[1, 2, 3, 1, 2, 3]
[1, 2, 1, 2, 3]

-------------------------------------------------------------------------------------

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 2, 3]

-------------------------------------------------------------------------------------

[1, 2, 3, 1, 2, 3]

#### pop()

In [82]:
# stack : 임시 메모리 / heap : 실제 데이터
# 입력 : push / 출력 : pop
# push로 stack에 데이터 입력, pop으로 stack에서 뽑아오는 것
# LIFO : 맨 마지막에 입력된 값이 먼저 나옴
## a.pop()

a = [1, 2, 3]
b = a.pop() # 맨 마지막에 입력된 값 뽑아서 b에 할당
print(a) # stack에 남은 값 출력
print(b) # stack에서 뽑은 값 출력

[1, 2]
3

#### 검색 기능

In [84]:
# in
a = [1, 2, 3, 4, 5]
print(2 in a) # a 안에 2가 존재하는지 bool 형으로 출력
print(6 in a)

True
False

### (2) tuple

* list와 유사 - list의 기능을 거의 동일하게 사용 가능
* ( )를 사용
* 수정 불가

In [85]:
a = ('a', 'b', 'c', 'd')
print(a)
print(type(a))

('a', 'b', 'c', 'd')
<class 'tuple'>

In [86]:
a[0] = 'A' # 수정 불가. 사용 시 에러 발생
print(a)

TypeError: 'tuple' object does not support item assignment

#### 타입 변환

In [91]:
a = ('a', 'b', 'c', 'd')
print(a)
print(type(a))

print('\n' + '-' * 85 + '\n')

b = list(a) # list로 타입 변환
print(b)
print(type(b))

print('\n' + '-' * 85 + '\n')

c = tuple(b) # tuple로 타입 변환
print(c)
print(type(c))

('a', 'b', 'c', 'd')
<class 'tuple'>

-------------------------------------------------------------------------------------

['a', 'b', 'c', 'd']
<class 'list'>

-------------------------------------------------------------------------------------

('a', 'b', 'c', 'd')
<class 'tuple'>

#### 자료형 함수

In [105]:
a = 10
print(type(a))

print('\n' + '-' * 85 + '\n')

a = str(10) # 문자열 함수로 변경
print(type(a))

print('\n' + '-' * 85 + '\n')

a = float(10) # 실수형 함수로 변경
print(type(a), a)

print('\n' + '-' * 85 + '\n')

a = int(10) # 정수형 함수로 변경
print(type(a), a)

print('\n' + '-' * 85 + '\n')

print(bool('hello')) # bool 함수로 변경 - True / False로 변경
print(bool(10))
print(bool([])) # 값이 없으면 False
print(bool(()))
print(bool(""))
print(bool(None)) # 값이 없다는 의미의 None

<class 'int'>

-------------------------------------------------------------------------------------

<class 'str'>

-------------------------------------------------------------------------------------

<class 'float'> 10.0

-------------------------------------------------------------------------------------

<class 'int'> 10

-------------------------------------------------------------------------------------

True
True
False
False
False
False

#### Packing, Unpacking

In [114]:
# Packing : 여러 개의 데이터를 하나의 변수에 입력시키는 것 -> 묶어서 입력

a = 10, 20, 30
print(a)
print(type(a))

print('\n' + '-' * 85 + '\n')

# Unpacking : packing되어 있는 걸 하나씩 풀어주는 것 
a1, a2, a3 = a
print(a1, a2, a3)
print(type(a1), type(a2), type(a3))

(10, 20, 30)
<class 'tuple'>

-------------------------------------------------------------------------------------

10 20 30
<class 'int'> <class 'int'> <class 'int'>

### (3) dict

* 용도 : 데이터 검색
* list, tuple은 1개씩 저장되지만 dict는 1쌍으로 저장
* { 키 : 값 }으로 저장
* 인덱스 없음 = 순서가 없음
* 키로 접근 가능 = 효율적임
* 수정 가능

In [137]:
# dict 입력 1
a = {'name' : '홍길동', 'phone' : '111-1111', 'age' : 25}
print(a)
print(type(a))

print('\n' + '-' * 85 + '\n')

# dict 입력 2
b = dict(name = '홍길동', phone = '111-1111', age = 30)
print(b)

print('\n' + '-' * 85 + '\n')

print(a['name']) # 키로 접근 가능. 인덱스 사용 시 에러. 없는 데이터 출력 시 에러

print('\n' + '-' * 85 + '\n')

# get() : 출력. 없는 데이터 출력 시 None값 출력
print(a.get('name'))
print(a.get('address'))

print('\n' + '-' * 85 + '\n')

# 수정 가능
a['name'] = '임꺽정'
print(a)

{'name': '홍길동', 'phone': '111-1111', 'age': 25}
<class 'dict'>

-------------------------------------------------------------------------------------

{'name': '홍길동', 'phone': '111-1111', 'age': 30}

-------------------------------------------------------------------------------------

홍길동

-------------------------------------------------------------------------------------

홍길동
None

-------------------------------------------------------------------------------------

{'name': '임꺽정', 'phone': '111-1111', 'age': 25}

#### dict 출력

In [133]:
# keys() : 가지고 있는 키 값 출력
print(a.keys())

print('\n' + '-' * 85 + '\n')

# values() : 가지고 있는 값 출력
print(a.values())

print('\n' + '-' * 85 + '\n')

# items() : 가지고 있는 키, 값을 튜플 형태(한 쌍)로 출력
print(a.items())

print('\n' + '-' * 85 + '\n')

b = a.items()
print(type(b))

print('\n' + '-' * 85 + '\n')

c = list(b)
print(type(c), c)

dict_keys(['name', 'phone', 'age'])

-------------------------------------------------------------------------------------

dict_values(['임꺽정', '111-1111', 25])

-------------------------------------------------------------------------------------

dict_items([('name', '임꺽정'), ('phone', '111-1111'), ('age', 25)])

-------------------------------------------------------------------------------------

<class 'dict_items'>

-------------------------------------------------------------------------------------

<class 'list'> [('name', '임꺽정'), ('phone', '111-1111'), ('age', 25)]

#### 추가 기능

In [134]:
print(a)

print('\n' + '-' * 85 + '\n')

a['address'] = '서울시 강남구'
print(a)

{'name': '임꺽정', 'phone': '111-1111', 'age': 25}

-------------------------------------------------------------------------------------

{'name': '임꺽정', 'phone': '111-1111', 'age': 25, 'address': '서울시 강남구'}

#### 삭제

In [135]:
print(a)

print('\n' + '-' * 85 + '\n')

del a['age'] # 원하는 정보 메모리까지 삭제
print(a)

print('\n' + '-' * 85 + '\n')

# clear() : 데이터 삭제
a.clear() # 형식은 남겨두고 데이터 전체 삭제
print(a)

{'name': '임꺽정', 'phone': '111-1111', 'age': 25, 'address': '서울시 강남구'}

-------------------------------------------------------------------------------------

{'name': '임꺽정', 'phone': '111-1111', 'address': '서울시 강남구'}

-------------------------------------------------------------------------------------

{}

### (3) set

* { } 사용 = dict와 동일
* 값으로만 이루어짐(dict는 키:값 형태)
* 순서 없음 = 인덱스 없음 -> print(a[0]) 사용 시 에러
* 중복 불가
* 접근 방법 : list나 tuple로 변경 후 접근
* 수정 가능

In [142]:
a = {1, 2, 3, 4, 3, 2, 4}
print(a) # 중복된 값 제거 후 출력
print(type(a))

print('\n' + '-' * 85 + '\n')

# 출력
b = list(a)
print(b[0], b[1])

{1, 2, 3, 4}
<class 'set'>

-------------------------------------------------------------------------------------

1 2

#### 교집합, 합집합, 차집합 구하기

In [145]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# 교집합 : intersection()
print(s1.intersection(s2))

print('\n' + '-' * 85 + '\n')

# 합집합 : union()
print(s1.union(s2))

print('\n' + '-' * 85 + '\n')

# 차집합 : difference()
print(s1.difference(s2)) # print(s1 - s2)

{4, 5, 6}

-------------------------------------------------------------------------------------

{1, 2, 3, 4, 5, 6, 7, 8, 9}

-------------------------------------------------------------------------------------

{1, 2, 3}

#### 데이터 추가, 삭제

In [149]:
# 데이터 여러 개 추가 : update({})
s1.update({7, 8})
print(s1)

print('\n' + '-' * 85 + '\n')

# 데이터 한 개 추가 : add()
s2.add(10)
print(s2)

print('\n' + '-' * 85 + '\n')

# 데이터 삭제 : remove()
s1.remove(8)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

-------------------------------------------------------------------------------------

{4, 5, 6, 7, 8, 9, 10}

-------------------------------------------------------------------------------------

{1, 2, 3, 4, 5, 6, 7}

------------

## 연산자(Operator)

1) 산술 연산자
* *, /, +, -
* *, +는 반복, 연결 기능도 있음
* % : 나머지
* // : 정수형 몫
* ** : 거듭제곱


2) 비교 연산자
* '>', '<', '>=', '<=' 
* == : 같다
* != : 같지 않다
* bool 형식으로 출력
    
    
3) 논리 연산자 : bool 형식을 이용해 계산
* and : 모두가 참일 때 T
    
        A          B            A and B
        -------------------------------
        T          T               T
        T          F               F
        F          T               F
        F          F               F
    
* or :  한 쪽만 참이어도 T
    
        A          B            A or B
        -------------------------------
        T          T               T
        T          F               T
        F          T               T
        F          F               F
   
* not(단항, 토글) : T는 F, F는 T로


4) 대입(치환, 할당) 연산자
* = : 오른쪽에 있는 값을 왼쪽에 할당
* +=, -=, *=, /= ...


5) 포함 여부 연산자
* in, not in

6) 비트 연산자
* &(=and) : 둘 다 T일 때 T
* |(=or) : 한 쪽만 T일 때 T
* ^(=xor) : 두 값이 다를 때 T. 암호화/복호화 때 사용
* ~(=not) : T를 F로, F를 T로.
* <<, >>

### 산술 연산자

In [1]:
print(10/3) # 몫+나머지 -> 실수형 : 사용 시 자리수 결정(소수점 아래 / 오차값 발생)
print('\n' + '-' * 85 + '\n')

print(10%3) # 나머지
print('\n' + '-' * 85 + '\n')

print(10//3) # 몫 -> 정수형
print('\n' + '-' * 85 + '\n')

print(2**10) # 2의 10제곱

3.3333333333333335

-------------------------------------------------------------------------------------

1

-------------------------------------------------------------------------------------

3

-------------------------------------------------------------------------------------

1024

### 비교 연산자

In [2]:
print(100>200)

False

### 대입 연산자

In [3]:
a = 1
a = 2
a = 3
print(a)
print('\n' + '-' * 85 + '\n')

b = 1
b += 2 # b = b + 2
b += 3 # b = b + 3
print(b)

3

-------------------------------------------------------------------------------------

6

### 논리 연산자(단락 회로 연산자)
* 쓸데없는 연산을 하지 않음

In [4]:
print(6 and 12) # 참거짓 판명하는 게 아니므로 무의미
print('\n' + '-' * 85 + '\n')

print(12>5 and 6<=3) # 둘 다 참이어야 T

12

-------------------------------------------------------------------------------------

False

### 비트 연산자 : 10진수를 2진수로 변경한 뒤 계산

In [5]:
print(12>5 & 6<=3) # 둘 다 참이어야 T
print('\n' + '-' * 85 + '\n')

print(12 & 6) # 2진수로 변경 : 12 = 1100, 6 = 0110 => 12 & 6 = 0100 = 4
print('\n' + '-' * 85 + '\n')

print(12^6) # 12(1100) ^ 6(0110) => 1010 = 10
print('\n' + '-' * 85 + '\n')

password = 648723
key = 34897645

encode = password ^ key # 암호화
print(encode)
print('\n' + '-' * 85 + '\n')

decode = encode ^ key # 복호화
print(decode)

False

-------------------------------------------------------------------------------------

4

-------------------------------------------------------------------------------------

10

-------------------------------------------------------------------------------------

35494142

-------------------------------------------------------------------------------------

648723